```css
/* Custom Header Styles */
h1 {
    color:  #3498db /* 蓝色 */
    font-size: 24px; /* 更大的字体尺寸 */
    text-align: center; /* 标题居中 */
    border-bottom: 2px solid #3498db; /* 蓝色底边 */
    padding-bottom: 4px; /* 底边间隙 */
}

h2 {
    color: #2ecc71; /* 绿色 */
    font-size: 20px; /* 稍大的字体尺寸 */
    /*border-bottom: 1px solid #2ecc71; /* 绿色底边 */
    padding-bottom: 3px; /* 底边间隙 */
}

h3 {
    color: #dfa000; /* yellow*/
    font-size: 24px; /* 更大的字体尺寸 */
    text-align: center; /* 标题居中 */
   /* border-bottom: 2px solid #dfa000; /* 蓝色底边 */*/
    padding-bottom: 4px; /* 底边间隙 */
}

h4 {
    color: #7fbbb3; /* blue*/
    font-size: 24px; /* 更大的字体尺寸 */
    text-align: center; /* 标题居中 */
    /*border-bottom: 2px solid #7fbbb3; /* blue:  */*/
    padding-bottom: 4px; /* 底边间隙 */
}
h5 {
    color: #7fbbb3; /* blue*/
    font-size: 20px; /* 更大的字体尺寸 */
    text-align: left; /* 标题居中 */
    /*border-bottom: 2px solid #7fbbb3; /* blue:  */*/
    padding-bottom: 4px; /* 底边间隙 */
}
```